/* slider css start */

.slider-container {
	height: 58.5vh;
	/* background-color: white !important; */
	color: white;
	background: linear-gradient(
			rgba(22, 22, 23, 0.9) 100%,
			rgba(22, 22, 23, 0.9) 100%
		),
		url(../../../assets/images/shapes/slider-3-bg-1.png);
	z-index: 2;
	opacity: 0.8;
	background-repeat: no-repeat;
	background-size: contain;
}

/* slider css end  */

@keyframes slide {
	0%,
	100% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(20px);
	}
}

.absolute1 {
	animation: slide 2s ease-in-out infinite;
}
.button {
	border: 1px solid white;
}
.button:hover {
	background-color: rgb(rgb(239, 16, 119));
}
/* animation  for text*/
.parent-container {
	overflow: hidden;
	position: relative;
}

.parent-container-text {
	position: absolute;
	top: 20;
	left: -100%;
	white-space: nowrap;
	animation: text 1s ease-in-out forwards;
}

@keyframes text {
	0% {
		left: -100%;
	}
	100% {
		left: 100px;
	}
}

/* animation for image  */

.parent-container-image {
	z-index: -5;
	max-width: 680px;
	position: absolute;
	top: 0;
	right: -100%;
	animation: imageanimation 2s ease-in-out forwards;
}

@keyframes imageanimation {
	0% {
		right: -100%;
	}
	100% {
		right: 0;
	}
}

/* 
	rgba(76, 76, 77, .9) 100%,
			rgba(76, 76, 77, .9) 100%
		), */
