@keyframes slide {
    0%, 100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(20px);
    }
  }
  
  .absolute1 {
    animation: slide 2s ease-in-out infinite;
  
  }
  .button{
    border: 1px solid white;
  }
.button:hover{
  background-color: rgb(rgb(239, 16, 119));
}

